jms/src/main/app/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ" maxRedelivery="2"/>
    <flow name="jmsFlow" initialState="started">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.data]" doc:name="Set Payload"/>
        <jms:outbound-endpoint queue="processQ" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="JMSReceiever">
        <jms:inbound-endpoint queue="inQ" connector-ref="Active_MQ" doc:name="JMS" exchange-pattern="request-response">
            <jms:transaction action="ALWAYS_BEGIN"/>
        </jms:inbound-endpoint>
        <logger message="Received message from processQ.............. #[payload]" level="INFO" doc:name="Logger"/>
        <append-string-transformer message=" Resposne" doc:name="Append String"/>
        <logger message="After Transfromat;ion payload is ........... #[payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="outQ" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="ALWAYS_JOIN"/>
        </jms:outbound-endpoint>
        <component class="jms.ProcessMessage" doc:name="Java"/>
        <rollback-exception-strategy doc:name="Rollback Exception Strategy">
            <logger message="before exhausted........... #[payload]" level="INFO" doc:name="Logger"/>
            <on-redelivery-attempts-exceeded>
                <logger message="After  exhausted........... #[payload]" level="INFO" doc:name="Logger"/>
                <jms:outbound-endpoint queue="deadQ" connector-ref="Active_MQ" doc:name="JMS"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
    </flow>
</mule>
